#img-logo{
  width: 110px;
  height: 60px;
}

header{
  display: flex;
  justify-content: space-between;
  padding: 30px 70px;
}

.header-right{
  display: flex;
}

#introduce{
  padding: 20px 30px;
}

#profile-icon{
  border: 1px solid #DDDDDD;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 18px 0 18px;
}

#menu-icon{
  padding: 0 10px;
}

#user-icon{
  padding: 0 0 0 10px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search{
  display: flex;
  border: 1px solid #abaaaa;
  border-radius: 40px;
  box-shadow: 0 3px 10px 0 #DDDDDD, 0 1px 5px 0 #DDDDDD;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 50px;
}

.search button{
  border: none;
  background-color: white;
  margin-left: 30px; 
  margin-right: 30px; 
}

#search-place{
  padding: 0 16px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

#line{
  border-top: 1px solid #DDDDDD;
}

section{
  display: flex;
  /* position: fixed; */
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.theme{
  display: grid;
  grid-template-columns: repeat(13, 1fr); 
}

.theme img{
  width: 50px;
  height: 40px;
}

#theme-detail{
  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
  margin-left: 70px; 
  margin-right: -20px; 
  /* 테마 사진 간격 조절 */
  width: 90px;
}

#theme-detail:hover{
  border-bottom: 2px solid gray;
}

#theme-name{
  font-size: smaller;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px; 
  padding: 50px 30px; 
}

.image-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 30px;
}

.image-container img {
  width: 280px;
  height: 240px;
  border-radius: 8px; 
}

#place-score{
  display: flex;
  justify-content: right;
  margin-top: -18px;
}

#place{
  font-size: 14px;
  color: #878686;
}

#place-date{
  font-weight: 600;
  margin-top: 15px;
}

footer{
  color: black;
  background-color: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}